---
layout: default
---

<div class="teaserimage">
    <div class="teaserimage-image" {% if site.cover %}style="background-image: url({{ site.cover }})"{% endif %}>
    </div>
</div>

<header class="blog-header">
    {% if site.logo %}
    <a class="blog-logo" href="{{site.url}}" style="background-image: url('{{ site.logo }}')">{{ site.title }}</a>
    {% endif %}
    <h1 class="blog-title">{{ site.title }}</h1>
    <h2 class="blog-description hot-pink">{{ site.description }}</h2>
    <div class="custom-links">
        {% for social in site.social %}
        {% if social.url %}
        <a class="{{ social.name }}" href="{{ social.url }}">
            <i class="{{ social.icon }}"></i>
        </a>
        &nbsp;&nbsp;
        {% endif %}
        {% endfor %}
        <a href="cv.pdf">CV</a>
    </div>
</header>


<main class="content" role="main">

<h2>Publications</h2>

<ul>
    <li><b>Sam Hatfield</b>, Aneesh Subramanian, Peter Düben, Tim Palmer, Improving weather forecast skill through reduced precision data assimilation, <em>Monthly Weather Review</em>, accepted for publication, doi: <a href="https://doi.org/10.1175/MWR-D-17-0132.1">10.1175/MWR-D-17-0132.1</a></li>
</ul>

</main>
