<div class="navbar navbar-inverse navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <a href="{{ "/" | prepend: site.baseurl }}" class="navbar-brand" style="color:white">
        <p>samhatfield</p>
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ site.linkedin_url }}"><i class="fa fa-linkedin-square fa-lg"></i></a></li>
      <li><a href="{{ site.github_url }}"><i class="fa fa-github-square fa-lg"></i></a></li>
      <li><a href="{{ site.flickr_url }}"><i class="fa fa-flickr fa-lg"></i></a></li>
    </ul>
  </div>
</div>
